<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Total Kills</th>
            <th>Total Deaths</th>
            <th>Total Score</th>
            <th>K/D Ratio</th>
            <th>First Seen</th>
        </tr>
    </thead>
    <tbody>
        {{range .Players}}
        <tr>
            <td><strong>{{.Name}}</strong></td>
            <td>{{.TotalKills}}</td>
            <td>{{.TotalDeaths}}</td>
            <td>{{.TotalScore}}</td>
            <td>{{.KDRatio}}</td>
            <td>{{.Created}}</td>
        </tr>
        {{else}}
            <tr>
                <td colspan="6" style="text-align: center; color: #999;">No players found</td>
            </tr>
            {{end}}
    </tbody>
</table>